<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <orangecat>
            <htmx>
                <enabled>0</enabled>
                <script_url><![CDATA[https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js]]></script_url>
            </htmx>
        </orangecat>
    </default>
</config>
