<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="orangecat" translate="label" sortOrder="1" class="orangecat-tab">
            <label>Orangecat</label>
        </tab>
        <section id="orangecat" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>General Settings</label>
            <tab>orangecat</tab>
            <resource>Orangecat_Core::config</resource>
            <group id="htmx" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>External Script</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="script_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Script URL</label>
                </field>
            </group>
            <group id="maps" translate="label" type="text" sortOrder="10" showInDefault="20" showInWebsite="1"
                   showInStore="1">
                <label>Google API Key</label>
                <field id="map_api_key" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>API Key</label>
                    <comment>
                        <![CDATA[For more details please read <a href="https://developers.google.com/maps/documentation/javascript/get-api-key?hl=es" target="_blank" alt="Autocomplete Documentation">Google Documentation</a>]]></comment>
                </field>
                <field id="map_style" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1"
                       canRestore="1">
                    <label>Style maps</label>
                    <source_model>Orangecat\Core\Model\Config\MapStyles</source_model>
                    <tooltip>If you want add map styles go to https://snazzymaps.com and select the one you like.
                    </tooltip>
                </field>
            </group>
        </section>
    </system>
</config>
